@import "../../styles/colors.css";

/* Main Content */
  .main-content {
    padding: 48px 16px;
    text-align: center;
  }
  
  .section {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .section-title {
    font-size: 48px;
    color: var(--main-color);
    margin-bottom: 24px;
  }
  
  .section-subtitle {
    font-size: 24px;
    color: var(--main-color);
    margin-bottom: 48px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }
  
  .product-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .product-info {
    padding: 16px;
  }
  
  .product-title {
    font-size: 20px;
    color: var(--main-color);
    margin-bottom: 8px;
  }
  
  .product-description {
    color: var(--main-color);
  }
  
  /* Footer */
  .footer {
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 48px 16px;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-section {
    margin-bottom: 24px;
    text-align: center;
  }
  
  .footer-title {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .footer-text {
    color: var(--secondary-color);
  }
  
  .footer-bottom {
    margin-top: 24px;
    text-align: center;
  }
  
  .footer-bottom-text {
    font-size: 14px;
  }

.homepage {
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--secondary-color), #f9f9f0);
  }
  
  .header {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 16px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }
  
  .product-image {
    height: 80px;
    width: auto;
  }
  
  /* Logo Styles */
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ae6b18;
    text-decoration: none;
  }
  
  /* Centered nav-items for desktop */
  .nav-items {
    display: flex;
    gap: 2rem;
    margin-left: -8rem;
  }
  
  .nav-link {
    cursor: pointer;
    position: relative;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #b36a21;
  }

  .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    flex-direction: column;
    background-color: #f8f8f8;
    padding: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
  }
  
  .submenu.open {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
  
  .submenu-link {
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-decoration: none;
    color: #333;
  }
  
  .submenu-link:hover {
    background-color: #ddd;
  }
  
  /* Icons and Hamburger Menu */
  .mobile-submenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    background-color: #f8f8f8;
    padding: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .mobile-submenu-link {
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-decoration: none;
    color: #333;
  }
  
  .mobile-submenu-link:hover {
    background-color: #ddd;
  }
  
  .icons {
    display: flex;
    gap: 1rem;
  }
  
  .hamburger-menu {
    display: none;
  }
  
  .mobile-menu {
    display: none;
    text-decoration: none;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem;
  }
  
  .mobile-link {
    padding: 0.5rem;
    text-decoration: none;
  }
  
  .icon {
    width: 24px;
    height: 24px;
  }

  .icon-button {
    background-color: transparent;
    border: none;
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 768px) {
    /* Mobile Styles */
    .nav-items {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
    }
  
    .mobile-menu {
      display: flex;
    }
  }
  
  @media (min-width: 769px) {
    /* Desktop Styles */
    .nav-items {
      display: flex; /* Show center nav items on desktop */
    }
  
    .hamburger-menu {
      display: none; /* Hide hamburger menu on desktop */
    }
  }
  
  